<div class="sm-box" style="background-color: #121212;">
    <div class="case-box">
        <div class="case-left">
            <ul>
                <li><img src="./images/case1.jpg" alt="" width="100%" height="100%"></li>
                <li><img src="./images/case2.jpg" alt="" width="100%" height="100%"></li>
                <li><img src="./images/case3.jpg" alt="" width="100%" height="100%"></li>
            </ul>
        </div>
        <div class="case-right">
            <div class="title">Sunrise Studio</div>
            <div class="detail-item">
                <b>DATE:</b>2015-3-12
            </div>
            <div class="detail-item">
                <b>URL:</b>www.yuga.com/summer
            </div>
            <div class="detail-item">
                <b>INDUSTRY:</b>Brand Construction
            </div>
            <div class="detail-item">
                <b>INTRO:</b>This is the info
            </div>
            <div class="sm-btn chat-btn">CHAT</div>
            <a class="sm-btn back-btn" href="#/index">BACK</a>
        </div>
    </div>
</div>