<div class="sm-box">
    <div class="top-nav">
        <div class="sm-nav">
            <div class="logo"><img src="./images/logo.png" alt="logo"></div>
            <div class="sm-nav-bar">
                <ul>
                    <li><a href="">WORKS</a></li>
                    <li><a href="">ABOUT ME</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- banner -->
    <div class="banner-box">
        <div class="banner-list">
            <!--<ul rn-carousel rn-carousel-auto-slide rn-carousel-buffered rn-carousel-transition="zoom" rn-carousel-duration="10000" rn-carousel-easing="linear" rn-carousel-index="bannerList">-->
            <!--<li class="banner-item" ng-repeat="banner in banners"><img src="{{ banner }}" alt=""></li>-->
            <!--</ul>-->
            <li class="banner-item"><img src="./images/banner1.jpg" alt=""></li>
            <!--<div class="banner-indicator">-->
                <!--<span ng-repeat="banner in banners" ng-class="{active: $index==$parent.bannerList}" ng-click="$parent.bannerList = $index">-->
                <!--</span>-->
            <!--</div>-->
        </div>
        <div class="banner-text">
            <img src="./images/banner-text.png" alt="customized" width="100%" height="100%">
        </div>

    </div>

    <!-- welcome -->
    <div class="sm-welcome">
        <div class="sm-content">
            <div class="welcome-name">S W<br/></div>
            <img class="sm-headimg" src="./images/headimg.png" alt="summer" width="100%" height="100%">
            <div class="welcome-title">HELLO ALL!GREAT TO HAVE YOU ABOARD!</div>
            <div class="welcome-brief">
                My name is Summer Wu.i am a graphic designer,photographer,and an all around creative foe any cause.<br/>
                My work spans across several media ranging from print,motion and video<br/>
                to interactive websites and applications for mobile devices.<br/>
            </div>
        </div>
    </div>

    <!-- case show -->
    <div class="sm-index-case">
        <ul>
            <li><img src="./images/case1.jpg" alt="case show"></li>
            <li><img src="./images/case2.jpg" alt="case show"></li>
            <li><img src="./images/case3.jpg" alt="case show"></li>
            <li><img src="./images/case4.jpg" alt="case show"></li>
            <li><img src="./images/case5.jpg" alt="case show"></li>
            <li><img src="./images/case6.jpg" alt="case show"></li>
        </ul>

        <div class="sm-index-case-more-btn">
            SEE MORE
        </div>
    </div>

    <!-- customers -->
    <div class="sm-index-customer">
        <div class="customer-title">CUSTOMERS<br/></div>
        <div class="customer-sub-title">MADE WITH LOVE PROJECT</div>
        <div class="customer-list">
            <img src="./images/bottom-icon1.jpg" alt="" class="customer-item">
            <img src="./images/bottom-icon2.jpg" alt="" class="customer-item">
            <img src="./images/bottom-icon3.jpg" alt="" class="customer-item">
            <img src="./images/bottom-icon4.jpg" alt="" class="customer-item">
            <img src="./images/bottom-icon5.jpg" alt="" class="customer-item">
            <img src="./images/bottom-icon6.jpg" alt="" class="customer-item">
            <img src="./images/bottom-icon7.jpg" alt="" class="customer-item">
        </div>
    </div>


</div>

<!-- footer -->
<div class="sm-footer">
    <div class="sm-box">
        <div class="footer-logo">
            <img src="./images/logo.png" alt="logo" width="100%" height="100%">
        </div>
        <div class="footer-contact-method">
            <img src="./images/contact-m1.png" alt="twiter">
            <img src="./images/contact-m2.png" alt="facebook">
            <img src="./images/contact-m3.png" alt="qq">
        </div>
        <div class="footer-copyright">©2014-2016Beetox.All right reserved</div>
    </div>
</div>


